<?php
    include_once('./View/Admin/layout/header.html');
?>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
           <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎管理员登录后台！</span></div>
        </div>
        <!-- 主体开始 -->
        <div class="result-wrap">
            <form action="./index.php?m=admin&c=user&a=insert" method="post" id="myform" name="myform">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font"></i>添加用户</h1>
                    </div>
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody>
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>用户名：</th>
                                    <td><input type="text" id="" value="" size="85" name="uname" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>密码：</th>
                                    <td><input type="password" id="" value="" size="85" name="upwd" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>确认密码：</th>
                                    <td><input type="password" id="" value="" size="85" name="reupwd" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>性别：</th>
                                    <td>男 <input type="radio" id="" value="m" size="" name="sex" class="common-text"> 
                                        女 <input type="radio" id="" value="w" size="" name="sex" class="common-text"> 
                                        保密 <input type="radio" id="" value="x" size="" name="sex" class="common-text" checked></td>
                                </tr>
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>电话号码：</th>
                                    <td><input type="text" id="" value="" size="85" name="tel" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>收货地址：</th>
                                    <td><input type="text" id="" value="" size="85" name="addr" class="common-text"></td>
                                </tr>
                                
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>email：</th>
                                    <td><input type="email" id="" value="" size="85" name="email" class="common-text"></td>
                                </tr>
                                
                                 <!--<tr>
                                    <th width="15%"><i class="require-red">*</i>编号：</th>
                                    <td><input type="text" id="" value="" size="85" name="unum" class="common-text"></td>
                                </tr>-->
                                
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="hidden" value="" name="file">
                                        <input type="submit" value="提交" class="btn btn-success btn6 mr10">
                                        <input type="reset" value="重置"  class="btn btn-primary btn6 mr10">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <!-- 主体结束 -->
      
      
    </div>
    <!--/main-->
</div>
</body>
</html>