<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href=".\Public\Admin\css/common.css"/>
    <link rel="stylesheet" type="text/css" href=".\Public\Admin\css/main.css"/>
    <script type="text/javascript" src=".\Public\Admin\js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="./index.php?m=admin&c=user&a=index">后台首页</a></li>
                <li><a href="./index.php?m=home&c=index&a=index" target="_blank">前台首页</a></li>
            </ul>
        </div>
        
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <!--<li><a href="#">管理员</a></li>
                <li><a href="#">修改密码</a></li>-->
                <li><a href="./index.php?m=admin&c=login&a=outlogin">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>用户管理</a>
                    <ul class="sub-menu">
                        <li><a href="./index.php?m=admin&c=user&a=index"><i class="icon-font">&#xe039;</i>用户列表</a></li>
                        <li><a href="./index.php?m=admin&c=user&a=add"><i class="icon-font">&#xe014;</i>用户添加</a></li>
                    </ul>
                </li>
                
            </ul>
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>分类管理</a>
                    <ul class="sub-menu">
                        <li><a href="./index.php?m=admin&c=cate&a=index"><i class="icon-font">&#xe006;</i>分类列表</a></li>
                        <li><a href="./index.php?m=admin&c=cate&a=add"><i class="icon-font">&#xe026;</i>分类添加</a></li>
                    </ul>
                </li>
                
            </ul>
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe032;</i>商品管理</a>
                    <ul class="sub-menu">
                        <li><a href="./index.php?m=admin&c=goods&a=index"><i class="icon-font">&#xe062;</i>商品列表</a></li>
                        <li><a href="./index.php?m=admin&c=goods&a=add"><i class="icon-font">&#xe002;</i>商品添加</a></li>
                    </ul>
                </li>
                
            </ul>
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe041;</i>订单管理</a>
                    <ul class="sub-menu">
                        <li><a href="./index.php?m=admin&c=orders&a=index"><i class="icon-font">&#xe048;</i>订单列表</a></li>
                    </ul>
                </li>
                
            </ul>
      <!--<ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe041;</i>回收站</a>
                    <ul class="sub-menu">
                        <li><a href="./index.php?m=admin&c=resource&a=users"><i class="icon-font">&#xe048;</i>用户回收</a></li>
                        <li><a href="./index.php?m=admin&c=resource&a=goods"><i class="icon-font">&#xe048;</i>商品回收</a></li>
                        <li><a href="./index.php?m=admin&c=resource&a=orders"><i class="icon-font">&#xe048;</i>订单回收</a></li>
                    </ul>
                </li>
                
            </ul>-->
        </div>
    </div>