<!doctype html>

<html>

<head>
    <meta charset="UTF-8">
    <title>后台登录管理</title>
    <link href="./Public/Admin/css/admin_login.css" rel="stylesheet" type="text/css" />
</head>
<body style="background:#c5e4f8">
<div class="admin_login_wrap" style="width: 540px;height: 370px;background:#286633;border-radius: 10px;">
   <h1 style="margin-bottom: 0;height: 50px;line-height: 50px;font-weight: 700;"> &nbsp;&nbsp;管理员登录</h1>
    <div class="adming_login_border" style="background: #CCCCCC;border-bottom-left-radius: 10px;border-bottom-right-radius:10px;border: 0;">
        <div class="admin_input">
            <form action="./index.php?m=admin&c=login&a=dologin" method="post">
                <ul class="admin_items">
                    <li>
                        <label for="user">用户名：</label>
                        <input type="text" name="uname" value="" id="user" size="35" class="admin_input_style" />
                    </li>
                    <li>
                        <label for="pwd">密码：</label>
                        <input type="password" name="upwd" value="" id="pwd" size="35" class="admin_input_style" />
                    </li>
                    <li>
                        <label for="pwd">验证码：</label>
                        <input type="text" name="code" value="" id="code" size="15" class="admin_input_style" />
                        <img src="./Public/code.php" style="position: relative;top: 13px;" onclick="this.src='./Public/code.php'">
                    </li>
                    <li>
                    	<br>
                        <input type="submit" tabindex="3" value="登录" class="btn btn-primary" style="background:#000000;"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    
</div>
</body>
</html>